.container {
  .tagLine {
    z-index: 2;
    position: absolute;
    color: white;
    top: 83.4%;
    left: 8%;
    font-size: 1.5rem;
    // transform: translate(-220%, -50%);
  }
  .date {
    z-index: 2;
    position: absolute;
    color: white;
    top: 90%;
    left: 50%;
    translate: -50%;
    font-size: 0.5rem;
    font-size: 30px;
    font-family: monospace;
  }
  .scrollDown {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
    font-family: "Roboto mono", monospace;
    font-weight: 600;
    letter-spacing: 0.3rem;
    animation: scrollDown 1.5s ease-out 2s infinite forwards;
  }
}

@keyframes scrollDown {
  0% {
    top: 85%;
  }
  50% {
    top: 95%;
  }
  100% {
    top: 85%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    .tagLine {
      height: 20%;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .tagLine {
      height: 15%;
    }
  }
}
