
.footer {
    width: 100%;
    padding: 2rem;
    text-align: center;
    p {
        font-family: monospace;
        color: rgb(0, 0, 0);
        margin-top: 0.5rem;
        a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        }
    }
}