
.footer {
    background:#0056b3;
    
border-top-color: #fff;
    width: 100%;
    padding: 2rem;
    text-align: center;
    p {
        font-family: monospace;
        color: white;
        margin-top: 0.5rem;
        a {
        text-decoration: none;
        color: white;
        }
    }
}