.container {
  width: 100%;
  padding: 2rem;
  text-align: center;
  .first {
    margin-top: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      text-decoration: none;
      color: azure;
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      font-size: 5rem;
      margin: 2rem;
    }
    h2 {
      text-decoration: none;
      color: azure;
      font-family: "Protest Riot", sans-serif;
      font-weight: 600;
      font-size: 3rem;
      margin: 1rem;
    }
    p {
      width: 70%;
      text-align: center;
      padding: 1rem;
      text-decoration: none;
      font-family: "Oswald";
      font-size: 1.5em;
      line-height: 1.5rem;
    }
    .videoContainer {
      width: 50%;
      .video {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
    .themeRelease {
      display: flex;
      align-items: center;
      color: white;
      width: 100vw;
      justify-content: center;
      .themeReleaseText {
        font-size: 22px;
      }
      .themeReleaseLine {
        width: 30%;
        margin: 10px 30px;
        height: 2px;
        background: #fff;
      }
      .themeReleaseIcon {
        background: white;
      }
    }
    .stars {
      display: flex;
      justify-content: space-between;
    }

    .pastEvents {
      // margin: 0 3rem 3rem 3rem ;
      width: 100%;
      display: flex;
      justify-content: left;
      overflow-x: scroll;
    }
    .pastArtists {
      display: flex;
      justify-content: center;
    }
  }
  
}

@media screen and (max-width: 1200px) {
  .container {
    .first {
      h1 {
        font-size: clamp(3rem, 7vw, 5rem);
      }
      h2 {
        font-size: clamp(1.5rem, 4.5vw, 3rem);
      }
      p {
        font-size: clamp(0.8rem, 2vw, 1.2rem);
        line-height: clamp(1rem, 3vw, 1.5rem);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0.7rem;
    .first {
      h1 {
        margin: 1rem;
      }
      h2 {
        margin: 0.5rem;
      }
      p {
        padding: 0.5rem;
      }

      .videoContainer {
        width: 90%;
        .video {
          width: 100%;
        }
      }
    }
  }
}
